################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/particles_in_a_box/v15
/executables/x64/Debug
/intermediates/x64/Debug
